
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.cabecalho{
    display: flex;
    justify-content:space-between;
    background-color: lightseagreen;
    width: 99%;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 30px;
    color: aliceblue;
}

#ad, #sub, #raz, #exp, #div, #multi{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
    text-align: center;
    border-style: none;
    padding: 0%;
}

#ad, #sub, #raz, #exp, #div, #multi:hover{

}