
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: #146C94;
}

.cabecalho{
    display: flex;
    justify-content:space-between;
    background-color: #19A7CE;
    width: 99%;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 30px;
    color: aliceblue;
}

.resultado{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    
}

.result{
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    font-size: 36px;
    text-align: center;
    background-color: lightgreen;
    width: auto;
    margin-bottom: 6px;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 1px 10px 19px 2px rgba(0, 0, 0, 0.388);
}

b{
    padding-left: 6px;
}

.result:hover{
    background-color: green;
    cursor: pointer;
    color: white;
    font-size: 38px;
    transition: background-color 0.3s ease-out 100ms;
    transition: font-size 0.2s ease-out 100ms;
}

#ad, #sub, #raz, #exp, #div, #multi{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
    text-align: center;
    border-style: none;
    align-self: center;
    transition: background-color 0.3s ease-out 100ms;
    transition: font-size 0.2s ease-out 100ms;
    margin-top: 10px;
}



#ad:hover, #sub:hover, #raz:hover, #exp:hover, #div:hover, #multi:hover{
    color: #ffffff;
    background-color: #146C94;
    font-size: 26px;
    box-shadow: 1px 10px 19px 2px rgba(0, 0, 0, 0.055);
}

.formulario{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
}

.formulario input{
    border-style: none;
    border-radius: 50px;
    font-size: 20px;

}

#num1, #num2{
    padding-left: 8px;
    padding-bottom: 6px;
    padding-top: 2px;
    margin-bottom: 8px;
}

.formulario label{
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
}

#form1{
    background-color: #AFD3E2;
    width: 15%;
    padding-bottom: 40px;
    border-radius: 30px;
}

.voltar{
    display: flex;
    flex-direction: column;
    align-content:space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 680px;
}

#btnVoltar{
    border-radius: 35px;
    width: 100px;
    height: 45px;
    font-size: 25px;
    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
    text-align: center;
    border-style: none;
    align-self: center;
    transition: background-color 0.3s ease-out 100ms;
    transition: font-size 0.2s ease-out 100ms;
    margin-top: 10px;
    background-color: #dd8425;
    color: #ffffff;
}

#btnVoltar:hover{
    color: #ffffff;
    background-color: #ac5411;
    font-size: 28px;
    box-shadow: 1px 10px 19px 2px rgba(0, 0, 0, 0.055);
}

.botao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.erro{
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    font-size: 36px;
    text-align: center;
    background-color: rgb(236, 98, 98);
    width: 800px;
    margin-bottom: 6px;
    border-radius: 12px;
    padding-left: 6px;
    box-shadow: 1px 10px 19px 2px rgba(0, 0, 0, 0.388);
}

.erro:hover{
    background-color: rgb(128, 0, 0);
    cursor: pointer;
    color: white;
    font-size: 38px;
    transition: background-color 0.3s ease-out 100ms;
    transition: font-size 0.2s ease-out 100ms;
}